.newsImg{max-width:300px; min-width: 250px;}

/*Eror*/
#errorContainer{--bs-alert-color: #842029;--bs-alert-bg: #f8d7da;--bs-alert-border-color: #f5c2c7;}
#errorSvg{width: 20%}
#errorMessage{font-size: larger;text-align: center;width: 100%;}

/*Register*/
@media (min-width:992px){
    .registerContainer{max-width: 950px; max-height: 660px;}
}

/*Profile*/
.profileCard{min-width: 1000px}
.profileInput{width: 100%}
.profileDl{font-size: large;}
.changePassword{top: 1vw; right: 1vw; background: none; border: none}

/*Admin*/
.adminTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .adminTable td, .adminTable th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  .adminTable tr:nth-child(even) {
    background-color: #dddddd;
  }

  .adminCreateButton{ transform: rotate(45deg);}
  .adminContainer{max-width: 95vw;}

  #categoriesSubmitButton{ margin:0 1vw;}
  #categoryTh{text-align: left;}

  /*Modal*/
  .deleteCategoryModalWrapper, .editCategoryModalWrapper, 
  .deleteUserModalWrapper, .editUserModalWrapper, .changePasswordModalWrapper{
      width:100vw;
      height:100vh;
      background:#333;
      position:fixed;
      top:0;
      left:0;
      z-index:3;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .deleteCategoryModal, .editCategoryModal, .deleteUserModal, .editUserModal, .changePasswordModal{
      min-width: 60vh;
      min-height:30vh;
      background:#FFF;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction:column;
      position:relative;
  }

  #deleteCategoryCloseModal, #editCategoryCloseModal, #deleteUserCloseModal, #editUserCloseModal, #changePasswordCloseModal{
      position:absolute;
      right:0;
      top:0;
  }